# Ambientes virtuais
venv/
.venv/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.py[cod]

# Cache de testes
.pytest_cache/

# Outputs de notebooks (Colab/Jupyter)
mnt/

# macOS
.DS_Store
